#Hero{
    height: 800px;
    background-image: url(/images/ocean.jpg);
    background-position: center;
    background-size: cover;
}
#HeroContent{
    width: 900px;
    background-color: rgba(51,47,47,0.8);
    box-shadow: 2px,4px,8px,rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 250px;
}
#HeroContent h1{
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    margin: 0;
}
#HeroContent p{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 0;
    font-family: 'Roboto', sans-serif; 
    margin-bottom: 32px;
}
#HeroContent a{
    text-decoration: none;
    background-color: rgb(255,251,0);
    padding: 12px 24px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    /* font-family: 'Roboto', sans-serif;   */
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgb(68, 67, 67);
}
#HeroContent a:hover{
    background-color: rgb(161, 161, 12);
}
#highlights h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(59,65,64);
    margin: 24px 0;
    
}
#highlights{
    padding: 24px;
    background: linear-gradient(0deg, rgb(227 255 253), rgb(202 243 240 / 100%));

}
#destination{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}
.destination{
    margin: 0 20px;
    text-transform: uppercase;
    width: 100%;
    
}
.destination p{
    text-align: center;
    font-size: 24px;
    color: rgb(124,123,123);
    margin: 20px 0;
}
.destination img{
 height: 200px;
 width: 100%;
 box-shadow: 2px 4px 8px rgb(68 67 67);
 border-radius: 10px;
 object-fit: cover;
 
}
.destination strong{
    color: rgb(0 ,160, 170);
}
